{%- if product != blank -%}
{%- assign productPage = product -%}
{%- endif -%}


{%- if product.collections != blank -%}
{%- for collection in product.collections -%}


{%- if forloop.index > 1 -%}
{% for product in collection.products %}
{%- if product.title != productPage.title -%}


<div class="productCardContainer productCardHidden">
    <a href="{{ product.url | within: collection }}" class="productCard">
        <img class="ProductCardImg" loading="lazy" src="{{ product.featured_image.src | img_url: 'large' }}"
            alt="{{ product.featured_image.alt | escape }}">
        <div class="productCardInfo">
            <h1 class="productCardTitle">{{ product.title }}</h1>
            <span class="productCardPrice">{{ product.price | money }}</span>
            {% unless product.available %}<br><strong>sold out</strong>
            {% endunless %}
        </div>
    </a>
</div>
{%- endif -%}
{% endfor %}
{%- endif -%}
{%- endfor -%}
{%- else -%}
{% for product in collection.products %}
{%- if product.title != productPage.title -%}


<div class="productCardContainer productCardHidden">
    <a href="{{ product.url | within: collection }}" class="productCard">
        <img class="ProductCardImg" loading="lazy" src="{{ product.featured_image.src | img_url: 'large' }}"
            alt="{{ product.featured_image.alt | escape }}">
        <div class="productCardInfo">
            <h1 class="productCardTitle">{{ product.title }}</h1>
            <span class="productCardPrice">{{ product.price | money }}</span>
            {% unless product.available %}<br><strong>sold out</strong>
            {% endunless %}
        </div>
    </a>
</div>
{%- endif -%}
{% endfor %}

{%- endif -%}