<div id="headerContainer" class="headerContainer  / md:flex xs:hidden flex-col  w-full ">
    {%- render 'announcement' -%}

    <div id="headerWrapper" class="onBlur flex headerWrapper h-20 px-5 headerFont  w-full">

        <div class="firstHeader  / flex justify-start items-center / ">
            <div class="w-fit relative  ">
                <h1 id="titleHeader" class="break-words titleHeader uppercase  tracking-widest">
                    {{shop.name}}
                </h1>
                <span id="swordSpan" class="swordSvg">
                    <svg id="swordSvg" width="14" height="69" viewBox="0 0 14 69" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="swordPath"
                            d="M7.41856 3.20077e-05C2.90107 17.5126 0.596833 34.5938 0.30479 52.759C0.874946 49.2244 2.17585 45.948 4.24349 42.8251C3.01179 34.9914 4.04907 27.516 7.36444 21.7636C10.4814 29.6533 11.2838 37.8178 9.8337 44.8009C11.769 48.9778 12.6889 52.8159 13.0453 56.4705C13.2423 38.3116 12.2167 19.796 7.41856 3.20077e-05ZM4.34309 49.1061L4.36661 49.1392C5.8317 55.7482 5.33265 61.0938 4.1395 66.0175C5.7295 68.983 7.49808 69.2862 8.94683 67.604C7.56542 61.1025 7.75965 55.7002 9.174 50.7259C7.83681 48.8445 5.91803 47.9867 4.34309 49.1061Z" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="secondHeader / flex justify-between items-center / mx-5 w-full ">

            <div class="leftMenus gap-5 flex justify-evenly items-center ">
                {% for link in linklists.main-menu.links %}
                {%- assign itemList = forloop.length / 2-%}
                {%- if forloop.index <= 2 -%} <div class="relative itemListHeaderContainer">
                    {%- if link.links != blank -%}

                    <a id="itemListHeader{{forloop.index}}"
                        class="leftItem itemListHeaderWrapper headerItems  cursor-pointer"">
                        <span class=" itemListHeader itemListHeaderLinks itemListHeaderParent">{{ link.title }}</span>
                    </a>

                    <div id="headerSubMenuContainer{{forloop.index}}" class="headerSubMenuContainer ">
                        <div id="headerSubMenuWrapper{{forloop.index}}" class="headerSubMenuWrapper ">
                            {%- for childLink in link.links -%}
                            <a class=" subItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                            {%- endfor -%}
                        </div>
                    </div>
                    {%- else -%}
                    <a id="itemListHeader{{forloop.index}}" class="leftItem itemListHeaderWrapper headerItems"
                        href="{{ link.url }}">
                        <span class="itemListHeader">{{ link.title }}</span>
                    </a>
                    {%- endif -%}
            </div>
            {%- endif -%}

            {% endfor %}

        </div>
        <div class="rightMenus gap-5  flex justify-evenly items-center ">
            {% for link in linklists.main-menu.links %}
            {%- assign itemList = forloop.length / 2-%}
            {%- if forloop.index > 2 -%} <div class="relative itemListHeaderContainer">
                {%- if link.links != blank -%}

                <a id="itemListHeader{{forloop.index}}" class="leftItem itemListHeaderWrapper headerItems"
                    href="{{ link.url }}">
                    <span class="itemListHeader itemListHeaderParent itemListHeaderLinks">{{ link.title }}</span>
                </a>

                <div id="headerSubMenuContainer{{forloop.index}}" class="headerSubMenuContainer ">
                    <div id="headerSubMenuWrapper{{forloop.index}}" class="headerSubMenuWrapper ">
                        {%- for childLink in link.links -%}
                        <a class=" subItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                        {%- endfor -%}
                    </div>
                </div>
                {%- else -%}
                <a id="itemListHeader{{forloop.index}}" class="leftItem itemListHeaderWrapper headerItems"
                    href="{{ link.url }}">
                    <span class="itemListHeader">{{ link.title }}</span>
                </a>
                {%- endif -%}
            </div>
            {%- endif -%}

            {% endfor %}
        </div>

    </div>

    <div class="thirdHeader / flex justify-end items-center /">

        <ul id="" class="">
            <div class="flex ">
                <li class="items headerItems ">
                    <a id="cart" href="/cart">
                        <svg class="cartSvg" width="25" height="25" viewBox="0 0 32 32" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path class="cartIconPath"
                                d="M9.60888 32C8.72806 32 7.9743 31.6869 7.34759 31.0608C6.71981 30.4336 6.40592 29.68 6.40592 28.8C6.40592 27.92 6.71981 27.1664 7.34759 26.5392C7.9743 25.9131 8.72806 25.6 9.60888 25.6C10.4897 25.6 11.2435 25.9131 11.8702 26.5392C12.4979 27.1664 12.8118 27.92 12.8118 28.8C12.8118 29.68 12.4979 30.4336 11.8702 31.0608C11.2435 31.6869 10.4897 32 9.60888 32ZM25.6237 32C24.7429 32 23.9891 31.6869 23.3624 31.0608C22.7346 30.4336 22.4207 29.68 22.4207 28.8C22.4207 27.92 22.7346 27.1664 23.3624 26.5392C23.9891 25.9131 24.7429 25.6 25.6237 25.6C26.5045 25.6 27.2588 25.9131 27.8866 26.5392C28.5133 27.1664 28.8266 27.92 28.8266 28.8C28.8266 29.68 28.5133 30.4336 27.8866 31.0608C27.2588 31.6869 26.5045 32 25.6237 32ZM8.24762 6.4L12.0912 14.4H23.3015L27.7056 6.4H8.24762ZM6.72621 3.2H30.348C30.9619 3.2 31.429 3.47307 31.7493 4.0192C32.0696 4.5664 32.083 5.12 31.7894 5.68L26.1041 15.92C25.8105 16.4533 25.4165 16.8667 24.9222 17.16C24.429 17.4533 23.8887 17.6 23.3015 17.6H11.3705L9.60888 20.8H28.8266V24H9.60888C8.40777 24 7.50026 23.4731 6.88636 22.4192C6.27246 21.3664 6.24577 20.32 6.80629 19.28L8.96829 15.36L3.20296 3.2H0V0H5.20481L6.72621 3.2Z" />
                        </svg>

                    </a>
                </li>
            </div>

        </ul>



        <div class="flex h-16 w-16 items-center">
            <button id="searchIcon" type="submit" class="w-8 h-8 headerItems">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                    stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" class="searchIconFill"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </button>

        </div>
    </div>


    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out' | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %}


</div>

<div id="searchBarContainer" class="searchBarContainer">
    <form id="searchBarWrapper" class="searchBarWrapper collapseNode " action="/search" method="get" role="search">
        <input class="headerSearchBar" type="search" name="q" value="{{ search.terms | escape }}">
        <button class="headerSearchSubmitBtn" type="submit">search</button>
    </form>
</div>

</div>