<div id="headerContainer" class="headerContainer  /  flex-col  w-full ">
    {%- render 'announcement' -%}

    <div id="headerWrapper"
        class="onBlur flex items-center justify-between headerWrapper h-20 md:px-5 xs:px-0 headerFont  w-full">

        <div class="mobileNavContainer flex-1 md:hidden xs:block headerTrans">
            <div class="sideNav ml-4">
                <svg id="navBtn" class="navBtn" width="27" height="16" viewBox="0 0 27 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2H26.7248" stroke="#815B17" stroke-width="2.17391" />
                    <line y1="7.91304" x2="26.7248" y2="7.91304" stroke="#815B17" stroke-width="2.17391" />
                    <line y1="14.913" x2="26.7248" y2="14.913" stroke="#815B17" stroke-width="2.17391" />
                </svg>

            </div>
        </div>

        <div class="firstHeader headerTrans / flex justify-start items-center /  ">
            <div class="w-fit relative  ">
                <h1 id="titleHeader" class="break-words titleHeader uppercase  tracking-widest">
                    {{shop.name}}
                </h1>
                <span id="swordSpan" class="swordSvg">
                    <svg id="swordSvg" width="14" height="69" viewBox="0 0 14 69" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="swordPath"
                            d="M7.41856 3.20077e-05C2.90107 17.5126 0.596833 34.5938 0.30479 52.759C0.874946 49.2244 2.17585 45.948 4.24349 42.8251C3.01179 34.9914 4.04907 27.516 7.36444 21.7636C10.4814 29.6533 11.2838 37.8178 9.8337 44.8009C11.769 48.9778 12.6889 52.8159 13.0453 56.4705C13.2423 38.3116 12.2167 19.796 7.41856 3.20077e-05ZM4.34309 49.1061L4.36661 49.1392C5.8317 55.7482 5.33265 61.0938 4.1395 66.0175C5.7295 68.983 7.49808 69.2862 8.94683 67.604C7.56542 61.1025 7.75965 55.7002 9.174 50.7259C7.83681 48.8445 5.91803 47.9867 4.34309 49.1061Z" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="secondHeader / flex justify-between items-center md:flex xs:hidden / mx-5 w-full ">

            <div class="leftMenus gap-5 flex justify-evenly items-center ">
                {% for link in linklists.main-menu.links %}
                {%- assign itemList = forloop.length / 2-%}
                {%- if forloop.index <= 2 -%} <div class="relative itemListHeaderContainer">
                    {%- if link.links != blank -%}

                    <a id="itemListHeader{{forloop.index}}"
                        class="leftItem itemListHeaderWrapper headerItems  cursor-pointer headerTrans">
                        <span class=" itemListHeader itemListHeaderLinks itemListHeaderParent">{{ link.title }}</span>
                    </a>

                    <div id="headerSubMenuContainer{{forloop.index}}" class="headerSubMenuContainer ">
                        <div id="headerSubMenuWrapper{{forloop.index}}" class="headerSubMenuWrapper ">
                            {%- for childLink in link.links -%}
                            <a class=" subItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                            {%- endfor -%}
                        </div>
                    </div>
                    {%- else -%}
                    <a id="itemListHeader{{forloop.index}}"
                        class="leftItem itemListHeaderWrapper headerTrans headerItems" href="{{ link.url }}">
                        <span class="itemListHeader">{{ link.title }}</span>
                    </a>
                    {%- endif -%}
            </div>
            {%- endif -%}

            {% endfor %}

        </div>
        <div class="rightMenus gap-5  flex justify-evenly items-center ">
            {% for link in linklists.main-menu.links %}
            {%- assign itemList = forloop.length / 2-%}
            {%- if forloop.index > 2 -%} <div class="relative itemListHeaderContainer">
                {%- if link.links != blank -%}

                <a id="itemListHeader{{forloop.index}}" class="leftItem itemListHeaderWrapper headerTrans headerItems"
                    href="{{ link.url }}">
                    <span class="itemListHeader itemListHeaderParent itemListHeaderLinks">{{ link.title }}</span>
                </a>

                <div id="headerSubMenuContainer{{forloop.index}}" class="headerSubMenuContainer ">
                    <div id="headerSubMenuWrapper{{forloop.index}}" class="headerSubMenuWrapper ">
                        {%- for childLink in link.links -%}
                        <a class=" subItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                        {%- endfor -%}
                    </div>
                </div>
                {%- else -%}
                <a id="itemListHeader{{forloop.index}}" class="leftItem headerTrans itemListHeaderWrapper headerItems"
                    href="{{ link.url }}">
                    <span class="itemListHeader ">{{ link.title }}</span>
                </a>
                {%- endif -%}
            </div>
            {%- endif -%}

            {% endfor %}
        </div>

    </div>

    <div class="thirdHeader / flex justify-end items-center xs:flex-1 md:flex-none /">

        <ul id="" class="">
            <div class="flex ">
                <li class="items headerItems headerTrans ">
                    <a id="cart" href="/cart">
                        <svg class="cartSvg" width="25" height="25" viewBox="0 0 32 32" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path class="cartIconPath"
                                d="M9.60888 32C8.72806 32 7.9743 31.6869 7.34759 31.0608C6.71981 30.4336 6.40592 29.68 6.40592 28.8C6.40592 27.92 6.71981 27.1664 7.34759 26.5392C7.9743 25.9131 8.72806 25.6 9.60888 25.6C10.4897 25.6 11.2435 25.9131 11.8702 26.5392C12.4979 27.1664 12.8118 27.92 12.8118 28.8C12.8118 29.68 12.4979 30.4336 11.8702 31.0608C11.2435 31.6869 10.4897 32 9.60888 32ZM25.6237 32C24.7429 32 23.9891 31.6869 23.3624 31.0608C22.7346 30.4336 22.4207 29.68 22.4207 28.8C22.4207 27.92 22.7346 27.1664 23.3624 26.5392C23.9891 25.9131 24.7429 25.6 25.6237 25.6C26.5045 25.6 27.2588 25.9131 27.8866 26.5392C28.5133 27.1664 28.8266 27.92 28.8266 28.8C28.8266 29.68 28.5133 30.4336 27.8866 31.0608C27.2588 31.6869 26.5045 32 25.6237 32ZM8.24762 6.4L12.0912 14.4H23.3015L27.7056 6.4H8.24762ZM6.72621 3.2H30.348C30.9619 3.2 31.429 3.47307 31.7493 4.0192C32.0696 4.5664 32.083 5.12 31.7894 5.68L26.1041 15.92C25.8105 16.4533 25.4165 16.8667 24.9222 17.16C24.429 17.4533 23.8887 17.6 23.3015 17.6H11.3705L9.60888 20.8H28.8266V24H9.60888C8.40777 24 7.50026 23.4731 6.88636 22.4192C6.27246 21.3664 6.24577 20.32 6.80629 19.28L8.96829 15.36L3.20296 3.2H0V0H5.20481L6.72621 3.2Z" />
                        </svg>

                    </a>
                </li>
            </div>

        </ul>



        <div class="flex  items-center mr-1">
            <button id="searchIcon" type="submit" class="w-8 h-8 headerItems headerTrans">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                    stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" class="searchIconFill"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </button>

        </div>
    </div>


    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out' | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %}


</div>

<div id="searchBarContainer" class="searchBarContainer">
    <form id="searchBarWrapper" class="searchBarWrapper collapseNode " action="/search" method="get" role="search">
        <input class="headerSearchBar" type="search" name="q" value="{{ search.terms | escape }}">
        <button class="headerSearchSubmitBtn" type="submit">search</button>
    </form>
</div>


<div id="blocker" class="blocker"></div>
<div id="mobileSideNavWrapper" class="mobileSideNavWrapper ">
    <div class="mobileSideNavTop / flex justify-end items-center /  relative ">
        <svg id="sideNavClose" class="sideNavMainElement" width="22" height="22" viewBox="0 0 22 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21.5833 2.17375L19.4096 0L10.7917 8.61792L2.17375 0L0 2.17375L8.61792 10.7917L0 19.4096L2.17375 21.5833L10.7917 12.9654L19.4096 21.5833L21.5833 19.4096L12.9654 10.7917L21.5833 2.17375Z"
                fill="#815B17" />
        </svg>

    </div>
    <div class="SideNavLinksWrapper relative ">
        {% for link in linklists.main-menu.links %}
        {%- if link.links != blank -%}
        <div id="itemListParentContainer{{forloop.index}}" class="itemListParentContainer flex flex-col">

            <a id="sideNavLinks{{forloop.index}}"
                class=" sideNavLinks sideNavMainElement / flex justify-between items-center / w-full cursor-pointer">
                {{link.title }}
                <svg id="dropDownBtn" class="dropDownBtn" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.90001 8.875L11.3 17.3C11.4 17.4 11.5083 17.4707 11.625 17.512C11.7417 17.554 11.8667 17.575 12 17.575C12.1333 17.575 12.2583 17.554 12.375 17.512C12.4917 17.4707 12.6 17.4 12.7 17.3L21.125 8.875C21.3583 8.64166 21.475 8.35 21.475 8C21.475 7.65 21.35 7.35 21.1 7.1C20.85 6.85 20.5583 6.725 20.225 6.725C19.8917 6.725 19.6 6.85 19.35 7.1L12 14.45L4.65001 7.1C4.41667 6.86666 4.12934 6.75 3.78801 6.75C3.44601 6.75 3.15001 6.875 2.90001 7.125C2.65001 7.375 2.52501 7.66666 2.52501 8C2.52501 8.33333 2.65001 8.625 2.90001 8.875Z"
                        fill="#815B17" />
                </svg>

            </a>

            <div id=" navSubMenuContainer{{forloop.index}}" class="navSubMenuContainer ">
                {%- for childLink in link.links -%}
                <a class="navSubItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                {%- endfor -%}
            </div>
        </div>
        {%- else -%}
        <a class="sideNavLinks sideNavMainElement" href="{{link.url}}">{{link.title}}</a>
        {%- endif -%}
        {%endfor%}
    </div>

    <div class="contactInfo sideMainParent">
        <span class="sideNavItem sideNavMainElement">{{shop.email}}</span>
        <span class="sideNavItem sideNavMainElement">{{shop.phone}}</span>

    </div>

    <div class="sideNavSocialMedia sideMainParent">
        <a class="socialIcon sideNavMainElement" href="https://twitter.com/MhamadHmd20">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M31.524 6.58269C30.4107 7.07602 29.2147 7.40935 27.9573 7.56002C29.2547 6.78374 30.2253 5.56198 30.688 4.12269C29.4691 4.84667 28.1351 5.35628 26.744 5.62935C25.8085 4.63051 24.5694 3.96846 23.2191 3.74599C21.8688 3.52352 20.4828 3.75308 19.2763 4.39902C18.0698 5.04497 17.1104 6.07117 16.5469 7.31829C15.9834 8.56542 15.8474 9.96369 16.16 11.296C13.6902 11.172 11.2742 10.5301 9.06856 9.41189C6.86296 8.2937 4.91712 6.72424 3.35733 4.80535C2.824 5.72535 2.51733 6.79202 2.51733 7.92802C2.51673 8.95068 2.76857 9.95768 3.2505 10.8597C3.73243 11.7617 4.42954 12.5307 5.28 13.0987C4.2937 13.0673 3.32916 12.8008 2.46666 12.3214V12.4014C2.46656 13.8357 2.96271 15.2259 3.87091 16.336C4.77911 17.4462 6.04342 18.2079 7.44933 18.492C6.53437 18.7396 5.57511 18.7761 4.644 18.5987C5.04066 19.8328 5.81332 20.9121 6.85382 21.6853C7.89431 22.4585 9.15055 22.8869 10.4467 22.9107C8.24644 24.6379 5.52918 25.5748 2.732 25.5707C2.2365 25.5708 1.74143 25.5419 1.24933 25.484C4.08863 27.3096 7.39378 28.2785 10.7693 28.2747C22.196 28.2747 28.4427 18.8107 28.4427 10.6027C28.4427 10.336 28.436 10.0667 28.424 9.80002C29.6391 8.92132 30.6879 7.83322 31.5213 6.58669L31.524 6.58269Z"
                    fill="black" />
            </svg>
        </a>
        <a class="socialIcon sideNavMainElement" href="https://www.instagram.com/mhamad.hmd1/">

            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.8865 1.5545C12.5971 1.47575 13.1425 1.45825 17.5 1.45825C21.8575 1.45825 22.4029 1.47721 24.1121 1.5545C25.8213 1.63179 26.9879 1.9045 28.0088 2.29971C29.0777 2.70367 30.0475 3.33513 30.8496 4.15179C31.6663 4.95242 32.2963 5.92075 32.6988 6.99117C33.0954 8.012 33.3667 9.17867 33.4454 10.8849C33.5242 12.5985 33.5417 13.1439 33.5417 17.4999C33.5417 21.8574 33.5227 22.4028 33.4454 24.1135C33.3681 25.8197 33.0954 26.9864 32.6988 28.0072C32.2962 29.0778 31.6652 30.0477 30.8496 30.8495C30.0475 31.6662 29.0777 32.2962 28.0088 32.6987C26.9879 33.0953 25.8213 33.3666 24.115 33.4453C22.4029 33.5241 21.8575 33.5416 17.5 33.5416C13.1425 33.5416 12.5971 33.5226 10.8865 33.4453C9.18022 33.368 8.01355 33.0953 6.99272 32.6987C5.92219 32.2961 4.95225 31.6651 4.15043 30.8495C3.33431 30.0484 2.70276 29.0789 2.2998 28.0087C1.90459 26.9878 1.63334 25.8212 1.55459 24.1149C1.47584 22.4014 1.45834 21.856 1.45834 17.4999C1.45834 13.1424 1.4773 12.597 1.55459 10.8878C1.63189 9.17867 1.90459 8.012 2.2998 6.99117C2.70336 5.92087 3.33539 4.95142 4.15188 4.15034C4.95257 3.3344 5.92153 2.70286 6.99126 2.29971C8.01209 1.9045 9.17876 1.63325 10.885 1.5545H10.8865ZM23.9823 4.442C22.2906 4.36471 21.7831 4.34867 17.5 4.34867C13.2169 4.34867 12.7094 4.36471 11.0177 4.442C9.45293 4.51346 8.60418 4.7745 8.03834 4.99471C7.29022 5.28638 6.75501 5.632 6.19355 6.19346C5.66133 6.71124 5.25173 7.34158 4.9948 8.03825C4.77459 8.60408 4.51355 9.45283 4.44209 11.0176C4.3648 12.7093 4.34876 13.2168 4.34876 17.4999C4.34876 21.783 4.3648 22.2905 4.44209 23.9822C4.51355 25.547 4.77459 26.3958 4.9948 26.9616C5.25147 27.6572 5.66126 28.2887 6.19355 28.8064C6.71126 29.3387 7.34272 29.7485 8.03834 30.0051C8.60418 30.2253 9.45293 30.4864 11.0177 30.5578C12.7094 30.6351 13.2154 30.6512 17.5 30.6512C21.7846 30.6512 22.2906 30.6351 23.9823 30.5578C25.5471 30.4864 26.3958 30.2253 26.9617 30.0051C27.7098 29.7135 28.245 29.3678 28.8065 28.8064C29.3388 28.2887 29.7486 27.6572 30.0052 26.9616C30.2254 26.3958 30.4865 25.547 30.5579 23.9822C30.6352 22.2905 30.6513 21.783 30.6513 17.4999C30.6513 13.2168 30.6352 12.7093 30.5579 11.0176C30.4865 9.45283 30.2254 8.60408 30.0052 8.03825C29.7136 7.29013 29.3679 6.75492 28.8065 6.19346C28.2887 5.66127 27.6583 5.25168 26.9617 4.99471C26.3958 4.7745 25.5471 4.51346 23.9823 4.442ZM15.4511 22.4451C16.5953 22.9215 17.8695 22.9858 19.0559 22.627C20.2424 22.2683 21.2675 21.5088 21.9561 20.4782C22.6448 19.4476 22.9543 18.2099 22.8317 16.9765C22.7092 15.7431 22.1623 14.5905 21.2844 13.7155C20.7247 13.1562 20.048 12.728 19.303 12.4616C18.558 12.1952 17.7631 12.0973 16.9757 12.175C16.1883 12.2526 15.4279 12.5039 14.7493 12.9107C14.0707 13.3175 13.4907 13.8698 13.0511 14.5276C12.6115 15.1855 12.3232 15.9326 12.207 16.7153C12.0908 17.4979 12.1496 18.2966 12.3791 19.0538C12.6087 19.811 13.0032 20.5079 13.5344 21.0943C14.0656 21.6807 14.7202 22.1421 15.4511 22.4451ZM11.6696 11.6695C12.4353 10.9038 13.3442 10.2965 14.3446 9.88211C15.345 9.46774 16.4172 9.25446 17.5 9.25446C18.5828 9.25446 19.655 9.46774 20.6554 9.88211C21.6558 10.2965 22.5648 10.9038 23.3304 11.6695C24.0961 12.4352 24.7034 13.3441 25.1178 14.3445C25.5322 15.3449 25.7455 16.4171 25.7455 17.4999C25.7455 18.5827 25.5322 19.6549 25.1178 20.6553C24.7034 21.6557 24.0961 22.5647 23.3304 23.3303C21.7841 24.8767 19.6868 25.7454 17.5 25.7454C15.3132 25.7454 13.2159 24.8767 11.6696 23.3303C10.1233 21.784 9.25456 19.6867 9.25456 17.4999C9.25456 15.3131 10.1233 13.2158 11.6696 11.6695ZM27.5742 10.4824C27.7639 10.3034 27.9158 10.0882 28.0209 9.84946C28.1259 9.61072 28.182 9.35333 28.1858 9.09252C28.1896 8.83172 28.1411 8.5728 28.043 8.3311C27.9449 8.0894 27.7994 7.86983 27.615 7.68539C27.4305 7.50095 27.2109 7.3554 26.9692 7.25734C26.7275 7.15928 26.4686 7.11072 26.2078 7.11452C25.947 7.11832 25.6896 7.17441 25.4509 7.27948C25.2121 7.38454 24.9969 7.53643 24.8179 7.72617C24.4698 8.09517 24.2793 8.5853 24.2867 9.09252C24.2941 9.59975 24.4988 10.0841 24.8575 10.4428C25.2162 10.8015 25.7006 11.0063 26.2078 11.0137C26.715 11.0211 27.2052 10.8305 27.5742 10.4824Z"
                    fill="black" />
            </svg>
        </a>
        <a class="socialIcon sideNavMainElement" href="https://www.facebook.com/Mohamad.hammoud.iker">

            <svg width="16" height="33" viewBox="0 0 16 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_11_187)">
                    <path
                        d="M4.08443 32.9193V17.4726H0V11.9111H4.08443V7.16077C4.08443 3.42795 6.49712 0 12.0565 0C14.3074 0 15.9718 0.215786 15.9718 0.215786L15.8406 5.40933C15.8406 5.40933 14.1432 5.39281 12.2909 5.39281C10.2861 5.39281 9.96487 6.31669 9.96487 7.8501V11.9111H16L15.7374 17.4726H9.96487V32.9193H4.08443Z"
                        fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_11_187">
                        <rect width="16" height="32.9193" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </a>
    </div>


</div>


</div>