<div id="headerContainer" class="headerContainer / md:flex xs:hidden flex-col  w-full ">
    {%- render 'announcement' -%}

    <div class="onBlur flex headerWrapper h-20 px-5   w-full">

        <div class="leftHeader flex-1 / flex justify-start items-center / ">

            <div class="w-fit relative ">
                <h1 id="titleHeader" class="break-words titleHeader uppercase  tracking-widest">
                    {{shop.name}}
                </h1>
                <span id="swordSpan" class="swordSvg">
                    <svg id="swordSvg" width="14" height="69" viewBox="0 0 14 69" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="swordPath"
                            d="M7.41856 3.20077e-05C2.90107 17.5126 0.596833 34.5938 0.30479 52.759C0.874946 49.2244 2.17585 45.948 4.24349 42.8251C3.01179 34.9914 4.04907 27.516 7.36444 21.7636C10.4814 29.6533 11.2838 37.8178 9.8337 44.8009C11.769 48.9778 12.6889 52.8159 13.0453 56.4705C13.2423 38.3116 12.2167 19.796 7.41856 3.20077e-05ZM4.34309 49.1061L4.36661 49.1392C5.8317 55.7482 5.33265 61.0938 4.1395 66.0175C5.7295 68.983 7.49808 69.2862 8.94683 67.604C7.56542 61.1025 7.75965 55.7002 9.174 50.7259C7.83681 48.8445 5.91803 47.9867 4.34309 49.1061Z" />
                    </svg>
                </span>
            </div>


            <div class="leftMenus flex">
                {% for link in linklists.main-menu.links %}
                <div class="relative itemListHeaderContainer">
                    <a id="itemListHeader{{forloop.index}}" class="leftItem itemListHeader headerItems"
                        href="{{ link.url }}">{{ link.title }}</a>
                    {%- if link.links != blank -%}
                    <div id="headerSubMenuContainer{{forloop.index}}" class="headerSubMenuContainer ">
                        <div id="headerSubMenuWrapper{{forloop.index}}" class="headerSubMenuWrapper ">
                            {%- for childLink in link.links -%}
                            <a class=" subItem " href="{{ childLink.url }}">{{ childLink.title }}</a>
                            {%- endfor -%}
                        </div>
                    </div>
                    {%- endif -%}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="rightHeader flex-1 / flex justify-end items-center /">

            <div class="rightMenus flex">
                {% for link in linklists.right-header.links %}
                <a class="itemListHeader headerItems" href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}

            </div>

            <ul id="" class="">
                <div class="flex ">
                    <li class="items headerItems ">
                        <a id="cart" href="/cart">cart</a>
                    </li>
                </div>

            </ul>



            <div class="flex h-16 w-16 items-center">
                <button id="searchIcon" type="submit" class="w-8 h-8 headerItems">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                        stroke="currentColor" className="w-6 h-6">
                        <path strokeLinecap="round" strokeLinejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>


            </div>
        </div>


        {% if shop.customer_accounts_enabled %}
        {% if customer %}
        <a href="/account">account</a>
        {{ 'log out' | customer_logout_link }}
        {% else %}
        {{ 'log in ' | customer_login_link }}
        {{ 'register' | customer_register_link }}
        {% endif %}
        {% endif %}


    </div>

    <div id="searchBarContainer" class="searchBarContainer">
        <form id="searchBarWrapper" class="searchBarWrapper collapseNode" action="/search" method="get" role="search">
            <input class="headerSearchBar" type="search" name="q" value="{{ search.terms | escape }}">
            <button class="headerSearchSubmitBtn" type="submit">search</button>
        </form>
    </div>
</div>