<div class="flex headerContainer h-20 px-5 ">

    <div class="leftHeader flex-1 / flex justify-start items-center / ">

        <div class="w-fit relative">
            <h1 class="break-words titleHeader uppercase  tracking-widest">
                {{shop.name}}
            </h1>
            <span class="swordSvg">
                <svg width="56" height="43" viewBox="0 0 56 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M55.1422 0.00242665C38.5664 7.23725 23.6944 15.9492 9.20864 26.9139C12.3437 25.1846 15.7256 24.19 19.4593 23.8938C24.8695 18.0961 31.3959 14.3061 37.9693 13.3721C33.6768 20.689 27.7414 26.3525 21.3483 29.5139C19.2515 33.6122 16.7958 36.7019 14.1373 39.2348C28.5595 28.1992 42.5091 15.9807 55.1422 0.00242665ZM14.5742 27.843L14.5626 27.8819C10.2606 33.1087 5.74323 36.01 1.13034 38.1047C-0.225243 41.1845 0.625932 42.7641 2.84356 42.8683C7.11235 37.7738 11.4865 34.5975 16.2757 32.6457C16.9332 30.4333 16.4263 28.3935 14.5742 27.843Z"
                        fill="#C8CBCD" />
                </svg>
            </span>
        </div>


        <div class="leftMenus flex">
            {% for link in linklists.main-menu.links %}
            <a class="leftItem itemListHeader headerItems" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}

        </div>
    </div>

    <div class="rightHeader flex-1 / flex justify-end items-center /">

        <div class="rightMenus flex">
            {% for link in linklists.right-header.links %}
            <a class="itemListHeader headerItems" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}

        </div>

        <ul id="" class="">
            <div class="flex ">
                <li class="items headerItems ">
                    <a href="/cart">cart</a>
                </li>
            </div>

        </ul>



        <form action="/search" class="flex h-16 w-16 items-center">
            <button type="submit" class="w-8 h-8 headerItems">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                    stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </button>

            {%- comment -%} <input
                class="p-0.5 m-3  rounded bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-grenn-500 dark:focus:border-green-500"
                type="text" name="q"> {%- endcomment -%}

        </form>
    </div>


    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out' | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %}


</div>