<div id="whyUsContainer" class="whyUsContainer">
    <div id="WhyUsTitle" class="WhyUsTitlecontainer"></div>
    <div id="reasonsContainer" class="reasonsContainer">
        {%- for block in section.blocks -%}
        <div class="                                                                                                ">
            <h1 id="reasonTitle{{forloop.index}}" class="reasonTitle">{{block.settings.blockTitle}}</h1>
            <div class="reasonInfoContainer">
                <img id="reasonImg{{forloop.index}}" class="reasonImg"
                    src="{{block.settings.blockImage | img_url: 'master' }}" alt="">
                <div id="reasonInfo{{forloop.index}}" class="reasonInfo">
                    <p>{{block.settings.blockParagraph}}</p>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>