<div class="collectionContainer">



  <img class="collectionImg" src="{{collection.featured_image | img_url: 'master'}}" alt="">

  <h1>{{ collection.title }}</h1>

  <select id="sort-by">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    {% for option in collection.sort_options %}
    <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
      {{ option.name }}
    </option>
    {% endfor %}
  </select>

  {% paginate collection.products by 4 %}
  <div class="productsContainer">

    {% for product in collection.products %}
    <div class="productCard">
      <a class="ProductCardImgContainer" href="{{ product.url | within: collection }}">
        <img class="ProductCardImg" src="{{ product.featured_image.src | img_url: 'large' }}"
          alt="{{ product.featured_image.alt | escape }}">
      </a>
      <div class="productCardInfo">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {{ product.price | money }}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      </div>
    </div>

    {% else %}
    <p>no matches</p>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
  {% endif %}
  {% endpaginate %}

</div>
<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>