<div class="productPageContainer">
  <div class="productContainer">
    <div class="productImageContainer">
      <div class="productImagesWrapper">
        {%- for image in product.images -%}
        <img class="productImage " src="{{ image.src | img_url: 'large' }}" alt="">
        {%- endfor -%}
      </div>

    </div>
    <div class="productDetailsContainer / flex flex-col items-start">
      <div class="productInfo flex flex-col items-start">

        <h1 class="productTitle text-center">
          {{product.title}}
        </h1>
        {{product.description}}
        <span class="productPrice">{{product.price | money}}</span>
      </div>
      {% form 'product', product %}
      {% if product.options.size > 0 -%}
      {% for option in product.options_with_values -%}
      <div class="flex gap-3">

        <h1 class="optionTitle">{{ option.name }}:</h1>

        {%- for value in option.values -%}

        <label class=" text-center flex items-center justify-center relative"
          for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">

          <input class="{{option.name | handleize}}Input optionInput" type="radio" {% if option.selected_value == value %}
            checked="checked" {%endif %} value="{{ value }}" data-index="option{{ forloop.index }}"
            name="{{ option.name | handleize }}"
            id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
          <span class="{{option.name | handleize }}Label spanLabel " {% if option.name == "Color" %}
            style="background-color: {{ value | handleize }};" {% endif %}>
            {% if option.name == "Size" %}
            {{ value | escape }}
            {%endif%}
          </span>

        </label>
        {%- endfor -%}

      </div>
      {%- endfor %}
      {%- endif %}
      <div class="quantityContainer flex items-center gap-3">

        <h1 class="optionTitle">quantity:</h1>
        <div class="quantityWrapper">
          <button id="decrement" type="button" data-action="decrement" class="decrement quantityBtn">-</button>
          <input id="quantityInput" class="quantityInput" min="1" type="number" name="quantity" value="1">
          <button id="increment" type="button" data-action="increment" class="increment quantityBtn">+</button>
        </div>
      </div>


      <button  class="productBtn" type="submit" name="add" value="Add to cart">
        ADD TO CART
      </button>

      {% endform %}


    </div>
  </div>
</div>









{%- comment -%} <h1>
  {{product.title}}
</h1>

<p>
  {{product.price | money}}
</p>

<div>
  {{product.description}}
</div> {%- endcomment -%}

{%- comment -%}

{%- endcomment -%}