
<img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
<h1>
  {{product.title}}
</h1>

<p>
  {{product.price | money}}
</p>

<div>
  {{product.description}}
</div>

{% form 'product', product %}

<select name = 'id'>
  {% for variant in product.variants %}
  <option value={{variant.id}}>
    {{variant.title}}
  </option>
  {% endfor %}
</select>

<button type="submit">
  add to cart
</button>

{% endform %}
